@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;700&display=swap');

*{
    text-align: center;
    margin: 0px auto;
    font-family: 'Kaisei Tokumin', serif;
    background: lightcyan;
}

.heading {
    font-size: 3rem;
    background-color: aquamarine;
    display: block;
    padding: 1rem;
}

.description {
    padding: 0.5rem;
    background-color:lightcyan;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

button {
    display: block;
    padding: 0.5rem 0rem;
    border-radius: 1rem;
    width: 10%;
    margin: 1rem auto;
    background:wheat;
    font-weight: bold;
}

input {
    display: block;
    margin: 2rem auto;
    border-radius: 1rem;
    padding: 1rem;
    outline: none;
}

#bill-amount  {
    display: block;
    margin: 1.5rem auto;
    font-weight: bold;
}

#cash-given {
    display: block auto;
    margin: 1.5rem auto;
    font-weight: bold;
}

label {
    font-size: 2rem;
}

caption {
    margin: 1rem;
    font-size: large;
}

table, th, td {
    border: 1px solid black;
    font-weight: bold;
    margin: 1rem auto;
    text-align: center;
    border-collapse: collapse;
    padding: 1rem;
    background-color:lightskyblue;
}